
@import url("../assets/fonts/graphicpixel.css");

* {
	box-sizing: border-box;

	user-select: none;
}

html,
body {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	font: 20px GraphicPixel, monospace;
	color: #444;
	background-color: #292929;

	cursor: default;
}

.container {
	position: relative;
	width: 100%;
	height: 100%;
}

.game-wrapper {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.game-wrapper > * {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

.game-wrapper > canvas {
	position: static;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;

	transform: translate(-50%, -50%);
}

.button {
	display: inline-block;
	margin: 0;
	padding: 10px 15px;

	font: inherit;
	color: inherit;
	background-color: #fff;
	border: 3px solid #fff;
	outline: none;
	cursor: pointer;
}

.button:focus {  border-color: #D4D4D4;  }
.button:active {  border-color: #A0A0A0;  }
.button:hover {  border-color: #BFBFBF;  }

.start-overlay {
	width: 100%;
	height: 100%;
}

.start-overlay.hidden {
	display: none;
}

.start-title {
	width: 100%;

	text-align: center;
	color: #ffffff;
	font-size: 3em;
	white-space: nowrap;
}

.start-button {
	display: block;
	margin: 100px auto 0;
}

.loading-overlay {
	width: 100%;
	height: 100%;

	background-color: #fff;
	opacity: 1;
	visibility: visible;

	transition: opacity .3s ease, visibility .3s ease;
}

.loading-overlay.hidden {
	opacity: 0;
	visibility: hidden;
}

.loading-percentage {
	margin-top: 10px;
	width: 100%;

	text-align: center;
}

.score,
.highscore {
	display: none;
	position: absolute;
	top: 0;
	margin: 5px 10px;

	font-size: 3em;
}

.score.visible,
.highscore.visible {
	display: block;
}

.score {
	right: 0;
	left: auto;
}

.highscore {
	left: 0;
	right: auto;
}

.gameover-overlay {
	display: none;
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, .6);
	text-align: center;
}

.gameover-overlay.visible {
	display: block;
}

.gameover-title {
	color: #ff543c;
	font-size: 3em;
	white-space: nowrap;
}

.gameover-score {
	margin-top: 30px;

	font-size: 2em;
	color: #ffffff;
}

.gameover-buttons {
	margin-top: 50px;
	white-space: nowrap;
}

.gameover-buttons > .button {
	display: inline-block;

	margin: 10px;
}

.scene-fade-overlay {
	width: 100%;
	height: 100%;

	background-color: #fff;
	opacity: 0;
	visibility: hidden;

	transition: opacity .3s ease, visibility .3s ease;
}

.scene-fade-overlay.visible {
	opacity: 1;
	visibility: visible;
}

@keyframes chicken-loader {
	from {  background-position: 0 0;  }
	to {  background-position: -304px 0;  }
}

.chicken-loader {
	width: 76px;
	height: 64px;

	background-image: url(../assets/img/chicken-loader.png);
	background-repeat: no-repeat;
	background-position: 0 0;

	animation: chicken-loader .4s steps(4) infinite;
}

/* Scale: 2 */
@media screen and (max-width: 815px), screen and (max-height: 509px) {
	.start-title {
		font-size: 2em;
	}

	.start-button {
		margin-top: 50px;
	}

    .score,
    .highscore {
	    font-size: 2em;
    }

	.gameover-title {
		font-size: 2em;
	}

	.gameover-score {
		margin-top: 20px;

		font-size: 1.33em;
	}

	.gameover-buttons {
		margin-top: 30px;
	}
}

/* Scale: 1 */
@media screen and (max-width: 543px), screen and (max-height: 339px) {
	.start-title {
		font-size: 1em;
	}

	.button {
		padding: 5px 10px;
		font-size: .8em;
	}

	.start-button {
		margin-top: 30px;
	}

    .score,
    .highscore {
	    font-size: 1em;
    }

	.gameover-title {
		font-size: 1em;
	}

	.gameover-score {
		margin-top: 10px;

		font-size: 0.66em;
	}

	.gameover-buttons {
		margin-top: 20px;
	}
}
